<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div>
                <h1>TO-DO App</h1>
            </div>
        </header>
        <main>
            <section id="add-new">
                <form action="/create-task" method="POST">
                    <div>
                        <input type="text" placeholder="Add new task" name="Task">
                        <button type="button">+</button>
                    </div>
                    <div>
                        <select name = "category">
                            <option value="" disabled selected>Choose a Category</option>
                            <option value="personal">Personal</option>
                            <option value="work">Work</option>
                            <option value="family">Family</option>
                            <option value="college">College</option>
                            <option value="study">Study</option>
                        </select>
                        <input type="date" id="start" name="duedate" min="2020-08-11" max="2022-08-11" placeholder="Due Date">
                    </div>
                    <button type="submit">Add new Task</button>
                </form>
            </section>
            <section id="To-do">
                <h2>Tasks-to-do</h2>
                <div>
                    <ul>
                    <% for(let i of to_do_list){ %>
                        <% if(i.Completed == false){ %>
                            <li>
                                <p><%= i.task %></p>
                                <span><%= i.category %></span>
                                <span><%= i.Due_Date %></span>
                                <a href="/completed/?id=<%=  i._id %> ">
                                    <button type="button">Mark Completed</button>
                                </a>
                                <a href="/delete-task/?id=<%=  i._id %> ">
                                    <button type="button"><i class="far fa-trash-alt"></i></button>
                                </a>
                                <a href="/view-task/?id=<%=  i._id %> ">
                                    <div>
                                        <button type="button">View Task</button>
                                    </div>
                                </a>
                            </li>
                        <% } %>
                    <% } %>
                    </ul>
                </div>
            </section>
            <section id="Completed">
                <h2>Completed Tasks</h2>
                <div>
                    <ul>
                        <% for(let i of to_do_list){ %>
                            <% if(i.Completed == true){ %>
                                <li>
                                    <p><%= i.task %></p>
                                    <span><%= i.category %></span>
                                    <span><%= i.Due_Date %></span>
                                    <a href="/delete-task/?id=<%=  i._id %> ">
                                        <button type="button"><i class="far fa-trash-alt"></i></button>
                                    </a>
                                </li>
                            <% } %>
                        <% } %>    
                    </ul>
                </div>
            </section>
        </main>
    </body>
</html>